<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suspension of customers</title>
    <th:block th:replace="/layout/head :: head" />
</head>
<body>
    <div class="container">
        <div class="table-title mb-4">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Suspension of customers</h1>
                </div>
                <div class="col-sm-6">
                    <a href="/customers" class="btn btn-outline-light"><i class="fa fa-list" aria-hidden="true"></i> <span>Customer list</span></a>
                </div>
            </div>
        </div>
        <form id="frmSuspensionCustomer" th:object="${customer}" method="post">
            <fieldset class="row g-3">
                <input th:type="hidden" name="id" th:field="*{id}">
                <div class="col-md-6">
                    <label class="form-label">Full name</label>
                    <input type="text" class="form-control" th:field="*{fullName}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" th:field="*{email}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Phone</label>
                    <input type="tel" class="form-control" th:field="*{phone}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                </div>

                <th:block th:if="*{deleted == false}">
                    <div class="col-md-12">
                        <button type="submit" id="btnSuspendedCustomer" class="btn btn-outline-danger">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                             Suspended
                        </button>
                    </div>
                </th:block>
            </fieldset>
        </form>
    </div>
    <div class="footer">
        <div id="message-alert">
            <th:block th:if="${success}">
                <div class="alert-success">
                    <span th:text="${success}"></span>
                </div>
                <span id="close">X</span>
                <script th:inline="javascript">
                    $("#close").on("click", function () {
                        $(".footer").css("height", 0);
                        $("#message-alert").empty();
                    });

                    $(".alert-success").fadeTo(5000, 500).fadeOut(1000, function () {
                        $(".footer").css("height", 0);
                        $("#message-alert").empty();
                    });
                </script>
            </th:block>
        </div>
    </div>

    <th:block th:replace="/layout/script :: script" />

</body>
</html>
